#footer {
	padding:30px 50px;
	color: $black;
	font-family:$font-light;
	font-size:1em;
	clear: both;
	background: $grey;
	.title {
		font-family:$font-med;
	}
	.col-left,
	.col-right {
		width:49.5%;
		@media only screen and (max-width: $phone-portrait-large) {
			width:100%;
		}
		display:inline-block;
		vertical-align: top;
		a {
			font-family:$font-med;
			color:$black;
		}
	}
	.col-right {
		@media only screen and (max-width: $phone-portrait-large) {
			margin-top:20px;
		}
		.careers.widget-area {
			display:none;
		}
		.widget-container.widget_text,
		.menu-footer-nav-container {
			display:inline-block;
			vertical-align: top;
			a {
				display:block;
			}
		}
		.widget-container.widget_text {
		    width: 43%;
		    margin-right: 17%;
		}
		.menu-footer-nav-container {
			width:35%;
			@media only screen and (max-width: $phone-portrait-large) {
				width:100%;
				display:block;
				margin-top:30px;
			}
			li {
				list-style-type:none;
				&.current-menu-item {
					display:none;
				}
			}
		}
	}
}
.page-template-template_careers {
	.new-business.widget-area {
		display:none;
	}
	.careers.widget-area {
		display:block !important;
	}
}