// Grid variables
$max-width: 1024px;

//Primary Colours
$black: #000000;
$white: #ffffff;
$grey: #cccccc;

// Sizes - repsonsive
$large-desktop: 1200px;
$desktop: 1080px;
$tablet-portrait: 768px;
$phone-landscape-large: 670px;
$phone-portrait-large: 480px;
$phone-portrait-small: 320px;

//Fonts
$font-light: sans-serif;
$font-reg: sans-serif;
$font-med: sans-serif;
$font-bold: sans-serif;

$base-font-size : 14px;
$base-line-ratio: 1.4;
$base-line-height: 20px;